<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet"/>
    <!-- ====== Swiper CSS ====== -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="~/Users/css/style-prefix.css">
    <link rel="stylesheet" href="~/Users/css/style.css">
    
</head>
<body>
    <header>
        <div class="header-top">
            <div class="container">
                <ul class="header-social-container">
                <li>
                    <a href="#" class="social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                </ul>
                <div class="header-alert-news">
                <p>
                    <b>Free Shipping</b>
                    This Week Order Over - $55
                </p>
                </div>
                <div class="header-top-actions">
                <select name="currency">
                    <option value="usd">USD &dollar;</option>
                    <option value="eur">EUR &euro;</option>
                </select>
                <select name="language">
                    <option value="en-US">English</option>
                    <option value="es-ES">Espa&ntilde;ol</option>
                    <option value="fr">Fran&ccedil;ais</option>
                </select>
                </div>
            </div>
        </div>
        <div class="header-main">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/images/logo/logo.svg" alt="Anon's logo" width="120" height="36"></a>
                <div class="header-search-container">
                    <input type="search" name="search" class="search-field" placeholder="Enter your product name...">
                    <button class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </div>
                <div class="header-user-actions">
                    <div class="icon user-icon d-flex">
                        <i class="bx bx-user"></i>
                    </div>
                    <button class="action-btn icon user-icon d-flex">
                        <i name="person-outline" class="bx bx-user"></i>
                    </button>
                    <button class="action-btn">
                        <ion-icon name="heart-outline"></ion-icon>
                        <span class="count">0</span>
                    </button>
                    <button class="action-btn">
                        <ion-icon name="bag-handle-outline"></ion-icon>
                        <span class="count">1</span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="desktop-navigation-menu">
            <div class="container">
                <ul class="desktop-menu-category-list">
                    <li class="menu-category">
                        <a href="#" class="menu-title">Home</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Categories</a>
                        <div class="dropdown-panel">
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                            <a href="#">Electronics</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Desktop</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Laptop</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Camera</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Tablet</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Headphone</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">
                                <img src="~/Users/images/electronics-banner-1.jpg" alt="headphone collection" width="250"
                                height="119">
                            </a>
                            </li>
                        </ul>
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                            <a href="#">Men's</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Formal</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Casual</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Sports</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Jacket</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Sunglasses</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">
                                <img src="~/Users/images/mens-banner.jpg" alt="men's fashion" width="250" height="119">
                            </a>
                            </li>
                        </ul>
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                            <a href="#">Women's</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Formal</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Casual</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Perfume</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Cosmetics</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Bags</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">
                                <img src="~/Users/images/womens-banner.jpg" alt="women's fashion" width="250" height="119">
                            </a>
                            </li>
                        </ul>
                        <ul class="dropdown-panel-list">
                            <li class="menu-title">
                            <a href="#">Electronics</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Smart Watch</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Smart TV</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Keyboard</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Mouse</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">Microphone</a>
                            </li>
                            <li class="panel-list-item">
                            <a href="#">
                                <img src="~/Users/images/electronics-banner-2.jpg" alt="mouse collection" width="250" height="119">
                            </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li class="menu-category">
                        <a asp-area="Products" asp-controller="Products" asp-action="Index" class="menu-title">Men's</a>
                        <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Shirt</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Shorts & Jeans</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Safety Shoes</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Wallet</a>
                        </li>
                        </ul>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Women's</a>
                        <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Dress & Frock</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Earrings</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Necklace</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Makeup Kit</a>
                        </li>
                        </ul>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Jewelry</a>
                        <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Earrings</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Couple Rings</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Necklace</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Bracelets</a>
                        </li>
                        </ul>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Perfume</a>
                        <ul class="dropdown-list">
                        <li class="dropdown-item">
                            <a href="#">Clothes Perfume</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Deodorant</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Flower Fragrance</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Air Freshener</a>
                        </li>
                        </ul>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Blog</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Hot Offers</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mobile-bottom-navigation">
        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
        </button>
        <button class="action-btn">
            <ion-icon name="bag-handle-outline"></ion-icon>
            <span class="count">0</span>
        </button>
        <button class="action-btn">
            <ion-icon name="home-outline"></ion-icon>
        </button>
        <button class="action-btn">
            <ion-icon name="heart-outline"></ion-icon>
            <span class="count">0</span>
        </button>
        <button class="action-btn" data-mobile-menu-open-btn>
            <ion-icon name="grid-outline"></ion-icon>
        </button>
        </div>
        <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>
        <div class="menu-top">
            <h2 class="menu-title">Menu</h2>
            <button class="menu-close-btn" data-mobile-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>
        <ul class="mobile-menu-category-list">
            <li class="menu-category">
            <a href="#" class="menu-title">Home</a>
            </li>
            <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Men's</p>
                <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
            </button>
            <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Shirt</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Shorts & Jeans</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Safety Shoes</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Wallet</a>
                </li>
            </ul>
            </li>
            <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Women's</p>
                <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
            </button>
            <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Dress & Frock</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Earrings</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Necklace</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Makeup Kit</a>
                </li>
            </ul>
            </li>
            <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Jewelry</p>
                <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
            </button>
            <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Earrings</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Couple Rings</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Necklace</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Bracelets</a>
                </li>
            </ul>
            </li>
            <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Perfume</p>
                <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
                </div>
            </button>
            <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Clothes Perfume</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Deodorant</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Flower Fragrance</a>
                </li>
                <li class="submenu-category">
                <a href="#" class="submenu-title">Air Freshener</a>
                </li>
            </ul>
            </li>
            <li class="menu-category">
            <a href="#" class="menu-title">Blog</a>
            </li>
            <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
            </li>
        </ul>
        <div class="menu-bottom">
            <ul class="menu-category-list">
            <li class="menu-category">
                <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Language</p>
                <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                </button>
                <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                    <a href="#" class="submenu-title">English</a>
                </li>
                <li class="submenu-category">
                    <a href="#" class="submenu-title">Espa&ntilde;ol</a>
                </li>
                <li class="submenu-category">
                    <a href="#" class="submenu-title">Fren&ccedil;h</a>
                </li>
                </ul>
            </li>
            <li class="menu-category">
                <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Currency</p>
                <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                </button>
                <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                    <a href="#" class="submenu-title">USD &dollar;</a>
                </li>
                <li class="submenu-category">
                    <a href="#" class="submenu-title">EUR &euro;</a>
                </li>
                </ul>
            </li>
            </ul>
            <ul class="menu-social-container">
            <li>
                <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
                </a>
            </li>
            <li>
                <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            </ul>
        </div>
    </nav>
    </header>



    <div class="banner">

      <div class="container">

        <div class="slider-container has-scrollbar">

          <div class="slider-item">

            <img src="~/Users/images/banner-1.jpg" alt="women's latest fashion sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending item</p>

              <h2 class="banner-title">Women's latest fashion sale</h2>

              <p class="banner-text">
                starting at &dollar; <b>20</b>.00
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="~/Users/images/banner-2.jpg" alt="modern sunglasses" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Trending accessories</p>

              <h2 class="banner-title">Modern sunglasses</h2>

              <p class="banner-text">
                starting at &dollar; <b>15</b>.00
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

          <div class="slider-item">

            <img src="~/Users/images/banner-3.jpg" alt="new fashion summer sale" class="banner-img">

            <div class="banner-content">

              <p class="banner-subtitle">Sale Offer</p>

              <h2 class="banner-title">New fashion summer sale</h2>

              <p class="banner-text">
                starting at &dollar; <b>29</b>.99
              </p>

              <a href="#" class="banner-btn">Shop now</a>

            </div>

          </div>

        </div>

      </div>

    </div>



    <!--
      - CATEGORY
    -->

    <div class="category">

      <div class="container">

        <div class="category-item-container has-scrollbar">

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/dress.svg" alt="dress & frock" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Dress & frock</h3>

                <p class="category-item-amount">(53)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/coat.svg" alt="winter wear" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Winter wear</h3>

                <p class="category-item-amount">(58)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/glasses.svg" alt="glasses & lens" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Glasses & lens</h3>

                <p class="category-item-amount">(68)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/shorts.svg" alt="shorts & jeans" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Shorts & jeans</h3>

                <p class="category-item-amount">(84)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/tee.svg" alt="t-shirts" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">T-shirts</h3>

                <p class="category-item-amount">(35)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/jacket.svg" alt="jacket" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Jacket</h3>

                <p class="category-item-amount">(16)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/watch.svg" alt="watch" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Watch</h3>

                <p class="category-item-amount">(27)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

          <div class="category-item">

            <div class="category-img-box">
              <img src="~/Users/images/icons/hat.svg" alt="hat & caps" width="30">
            </div>

            <div class="category-content-box">

              <div class="category-content-flex">
                <h3 class="category-item-title">Hat & caps</h3>

                <p class="category-item-amount">(39)</p>
              </div>

              <a href="#" class="category-btn">Show all</a>

            </div>

          </div>

        </div>

      </div>

    </div>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!--
      - TESTIMONIALS, CTA & SERVICE
    -->

    <div>

      <div class="container">

        <div class="testimonials-box">

          <!--
            - TESTIMONIALS
          -->

          <div class="testimonial">

            <h2 class="title">testimonial</h2>

            <div class="testimonial-card">

              <img src="~/Users/images/testimonial-1.jpg" alt="alan doe" class="testimonial-banner" width="80" height="80">

              <p class="testimonial-name">Alan Doe</p>

              <p class="testimonial-title">CEO & Founder Invision</p>

              <img src="~/Users/images/icons/quotes.svg" alt="quotation" class="quotation-img" width="26">

              <p class="testimonial-desc">
                Lorem ipsum dolor sit amet consectetur Lorem ipsum
                dolor dolor sit amet.
              </p>

            </div>

          </div>



          <!--
            - CTA
          -->

          <div class="cta-container">

            <img src="~/Users/images/cta-banner.jpg" alt="summer collection" class="cta-banner">

            <a href="#" class="cta-content">

              <p class="discount">25% Discount</p>

              <h2 class="cta-title">Summer collection</h2>

              <p class="cta-text">Starting  $10</p>

              <button class="cta-btn">Shop now</button>

            </a>

          </div>



          <!--
            - SERVICE
          -->

          <div class="service">

            <h2 class="title">Our Services</h2>

            <div class="service-container">

              <a href="#" class="service-item">

                <div class="service-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <div class="service-content">

                  <h3 class="service-title">Worldwide Delivery</h3>
                  <p class="service-desc">For Order Over $100</p>

                </div>

              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">Next Day delivery</h3>
                  <p class="service-desc">UK Orders Only</p>
              
                </div>
              
              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="call-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">Best Online Support</h3>
                  <p class="service-desc">Hours: 8AM - 11PM</p>
              
                </div>
              
              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="arrow-undo-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">Return Policy</h3>
                  <p class="service-desc">Easy & Free Return</p>
              
                </div>
              
              </a>

              <a href="#" class="service-item">
              
                <div class="service-icon">
                  <ion-icon name="ticket-outline"></ion-icon>
                </div>
              
                <div class="service-content">
              
                  <h3 class="service-title">30% money back</h3>
                  <p class="service-desc">For Order Over $100</p>
              
                </div>
              
              </a>

            </div>

          </div>

        </div>

      </div>

    </div>



    <div class="blog">

      <div class="container">

        <div class="blog-container has-scrollbar">

          <div class="blog-card">

            <a href="#">
              <img src="~/Users/images/blog-1.jpg" alt="Clothes Retail KPIs 2021 Guide for Clothes Executives" width="300" class="blog-banner">
            </a>

            <div class="blog-content">

              <a href="#" class="blog-category">Fashion</a>

              <a href="#">
                <h3 class="blog-title">Clothes Retail KPIs 2021 Guide for Clothes Executives.</h3>
              </a>

              <p class="blog-meta">
                By <cite>Mr Admin</cite> / <time datetime="2022-04-06">Apr 06, 2022</time>
              </p>

            </div>

          </div>

          <div class="blog-card">
          
            <a href="#">
              <img src="~/Users/images/blog-2.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300">
            </a>
          
            <div class="blog-content">
          
              <a href="#" class="blog-category">Clothes</a>
          
              <h3>
                <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
              </h3>
          
              <p class="blog-meta">
                By <cite>Mr Robin</cite> / <time datetime="2022-01-18">Jan 18, 2022</time>
              </p>
          
            </div>
          
          </div>

          <div class="blog-card">
          
            <a href="#">
              <img src="~/Users/images/blog-3.jpg" alt="EBT vendors: Claim Your Share of SNAP Online Revenue."
                class="blog-banner" width="300">
            </a>
          
            <div class="blog-content">
          
              <a href="#" class="blog-category">Shoes</a>
          
              <h3>
                <a href="#" class="blog-title">EBT vendors: Claim Your Share of SNAP Online Revenue.</a>
              </h3>
          
              <p class="blog-meta">
                By <cite>Mr Selsa</cite> / <time datetime="2022-02-10">Feb 10, 2022</time>
              </p>
          
            </div>
          
          </div>

          <div class="blog-card">
          
            <a href="#">
              <img src="~/Users/images/blog-4.jpg" alt="Curbside fashion Trends: How to Win the Pickup Battle."
                class="blog-banner" width="300">
            </a>
          
            <div class="blog-content">
          
              <a href="#" class="blog-category">Electronics</a>
          
              <h3>
                <a href="#" class="blog-title">Curbside fashion Trends: How to Win the Pickup Battle.</a>
              </h3>
          
              <p class="blog-meta">
                By <cite>Mr Pawar</cite> / <time datetime="2022-03-15">Mar 15, 2022</time>
              </p>
          
            </div>
          
          </div>

        </div>

      </div>

    </div>




    <!-- ====== Login and Signup Form ====== -->
    <div class="user-form">
      <div class="close-form d-flex"><i class="bx bx-x"></i></div>
      <div class="form-wrapper container">
        <div class="user login">
          <div class="img-box">
            <img src="~/Users/images/login.svg" alt="" />
          </div>
          <div class="form-box">
            <div class="top">
              <p>
                Not a member?
                <span data-id="#ff0066">Register now</span>
              </p>
            </div>
            <form action="">
              <div class="form-control">
                <h2>Hello Again!</h2>
                <p>Welcome back you've been missed.</p>
                <input type="text" placeholder="Enter Username" />
                <div>
                  <input type="password" placeholder="Password" />
                  <div class="icon form-icon">
                    <!-- <img src="./images/eye.svg" alt="" /> -->
                  </div>
                </div>
                <span>Recovery Password</span>
                <input type="Submit" value="Login" />
              </div>
              <div class="form-control">
                <p>Or continue with</p>
                <div class="icons">
                  <div class="icon">
                    <img src="~/Users/images/search.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/apple.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/facebook.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/github.svg" alt="" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Register -->
        <div class="user signup">
          <div class="form-box">
            <div class="top">
              <p>
                Already a member?
                <span data-id="#1a1aff">Login now</span>
              </p>
            </div>
            <form action="">
              <div class="form-control">
                <h2>Welcome Codevo!</h2>
                <p>It's good to have you.</p>
                <input type="email" placeholder="Enter Email" />
                <div>
                  <input type="password" placeholder="Password" />
                  <div class="icon form-icon">
                    <img src="~/Users/images/eye.svg" alt="" />
                  </div>
                </div>
                <div>
                  <input type="password" placeholder="Confirm Password" />
                  <div class="icon form-icon">
                    <img src="~/Users/images/eye.svg" alt="" />
                  </div>
                </div>
                <input type="Submit" value="Register" />
              </div>
              <div class="form-control">
                <p>Or continue with</p>
                <div class="icons">
                  <div class="icon">
                    <img src="~/Users/images/search.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/apple.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/facebook.svg" alt="" />
                  </div>
                  <div class="icon">
                    <img src="~/Users/images/github.svg" alt="" />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="img-box">
            <img src="~/Users/images/trial.svg" alt="" />
          </div>
        </div>
      </div>
    </div>



    <footer class="footer">

    <div class="footer-top section">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="~/Users/images/logo.svg" width="160" height="50" alt="Footcap logo">
          </a>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Contact Us</p>
            </li>

            <li>
              <address class="footer-link">
                <ion-icon name="location"></ion-icon>

                <span class="footer-link-text">
                  2751 S Parker Rd, Aurora, CO 80014, United States
                </span>
              </address>
            </li>

            <li>
              <a href="tel:+557343673257" class="footer-link">
                <ion-icon name="call"></ion-icon>

                <span class="footer-link-text">+557343673257</span>
              </a>
            </li>

            <li>
              <a href="mailto:footcap@help.com" class="footer-link">
                <ion-icon name="mail"></ion-icon>

                <span class="footer-link-text">footcap@help.com</span>
              </a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">My Account</p>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">My Account</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">View Cart</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">Wishlist</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">Compare</span>
              </a>
            </li>

            <li>
              <a href="#" class="footer-link">
                <ion-icon name="chevron-forward-outline"></ion-icon>

                <span class="footer-link-text">New Products</span>
              </a>
            </li>

          </ul>

          <div class="footer-list">

            <p class="footer-list-title">Opening Time</p>

            <table class="footer-table">
              <tbody>

                <tr class="table-row">
                  <th class="table-head" scope="row">Mon - Tue:</th>

                  <td class="table-data">8AM - 10PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Wed:</th>

                  <td class="table-data">8AM - 7PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Fri:</th>

                  <td class="table-data">7AM - 12PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Sat:</th>

                  <td class="table-data">9AM - 8PM</td>
                </tr>

                <tr class="table-row">
                  <th class="table-head" scope="row">Sun:</th>

                  <td class="table-data">Closed</td>
                </tr>

              </tbody>
            </table>

          </div>

          <div class="footer-list">

            <p class="footer-list-title">Newsletter</p>

            <p class="newsletter-text">
              Authoritatively morph 24/7 potentialities with error-free partnerships.
            </p>

            <form action="" class="newsletter-form">
              <input type="email" name="email" required placeholder="Email Address" class="newsletter-input">

              <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>

          </div>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 <a href="#" class="copyright-link">codewithsadee</a>. All Rights Reserved
        </p>

      </div>
    </div>

  </footer>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ECommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/Users/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
