@{
    Layout = "_LayoutAdmin";
}

<div class="col-md-12 my-4">
    <div class="row">
        <div class="form-group col-auto mr-auto">
            <h1 class="h2 mb-1">Products</h1>
        </div>
        <div class="form-group col-auto">
            <button class="btn btn-primary float-right ml-3" type="button">Add more +</button>
        </div>
    </div>
  <div class="card shadow">
    <div class="card-body">
      <div class="toolbar">
        <form class="form">
          <div class="form-row">
            <div class="form-group col-auto mr-auto">
                <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide"><span class="fe fe-filter fe-16 text-muted"></span></button>
            </div>
            <div class="form-group col-auto">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" id="search1" value="" placeholder="Search">
            </div>
          </div>
        </form>
      </div>
      <div class="modal fade modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="defaultModalLabel">Filters</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fe fe-x fe-12"></i>
              </button>
            </div>
            <div class="modal-body">
              <div class="p-2">
                <div class="form-group my-4">
                  <p class="mb-2"><strong>Regions</strong></p>
                  <label for="multi-select2" class="sr-only"></label>
                  <select class="form-control select2-multi" id="multi-select2">
                    <optgroup label="Mountain Time Zone">
                      <option value="AZ">Arizona</option>
                      <option value="CO">Colorado</option>
                      <option value="ID">Idaho</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NM">New Mexico</option>
                      <option value="ND">North Dakota</option>
                      <option value="UT">Utah</option>
                      <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                      <option value="AL">Alabama</option>
                      <option value="AR">Arkansas</option>
                      <option value="IL">Illinois</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="OK">Oklahoma</option>
                      <option value="SD">South Dakota</option>
                      <option value="TX">Texas</option>
                      <option value="TN">Tennessee</option>
                      <option value="WI">Wisconsin</option>
                    </optgroup>
                  </select>
                </div> <!-- form-group -->
                <div class="form-group my-4">
                  <p class="mb-2">
                    <strong>Payment</strong>
                  </p>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Paypal</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2">Credit Card</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1-1" checked>
                    <label class="custom-control-label" for="customCheck1">Wire Transfer</label>
                  </div>
                </div> <!-- form-group -->
                <div class="form-group my-4">
                  <p class="mb-2">
                    <strong>Types</strong>
                  </p>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio1">End users</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadio2">Whole Sales</label>
                  </div>
                </div> <!-- form-group -->
                <div class="form-group my-4">
                  <p class="mb-2">
                    <strong>Completed</strong>
                  </p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Include</label>
                  </div>
                </div> <!-- form-group -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mb-2 btn-primary btn-block">Apply</button>
              <button type="button" class="btn mb-2 btn-secondary btn-block">Reset</button>
            </div>
          </div>
        </div>
      </div>
      <!-- table -->
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="all2">
                <label class="custom-control-label" for="all2"></label>
              </div>
            </td>
            <th>ID</th>
            <th>User</th>
            <th>Company</th>
            <th>Contact</th>
            <th class="w-25">Bio</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2474">
                <label class="custom-control-label" for="2474"></label>
              </div>
            </td>
            <td>
              <div class="avatar avatar-md">
                <img src="./assets/avatars/face-3.jpg" alt="..." class="avatar-img rounded-circle">
              </div>
            </td>
            <td>
              <p class="mb-0 text-muted"><strong>Brown, Asher D.</strong></p>
              <small class="mb-0 text-muted">2474</small>
            </td>
            <td>
              <p class="mb-0 text-muted">Accumsan Consulting</p>
              <small class="mb-0 text-muted">Ap #331-7123 Lobortis Avenue</small>
            </td>
            <td>
              <p class="mb-0 text-muted"><a href="#" class="text-muted">(958) 421-0798</a></p>
              <small class="mb-0 text-muted">Nigeria</small>
            </td>
            <td class="w-25"><small class="text-muted"> Egestas integer eget aliquet nibh praesent. In hac habitasse platea dictumst quisque sagittis purus.</small></td>
            <td class="text-muted">13/09/2020</td>
            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-muted sr-only">Action</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Remove</a>
                <a class="dropdown-item" href="#">Assign</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2786">
                <label class="custom-control-label" for="2786"></label>
              </div>
            </td>
            <td>
              <div class="avatar avatar-md">
                <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
              </div>
            </td>
            <td>
              <p class="mb-0 text-muted"><strong>Leblanc, Yoshio V.</strong></p>
              <small class="mb-0 text-muted">2786</small>
            </td>
            <td>
              <p class="mb-0 text-muted">Fringilla Ornare Placerat Consulting</p>
              <small class="mb-0 text-muted">287-8300 Nisl. St</small>
            </td>
            <td>
              <p class="mb-0 text-muted"><a href="#" class="text-muted">(899) 881-3833</a></p>
              <small class="mb-0 text-muted">Papua New Guinea</small>
            </td>
            <td class="w-25"><small class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></td>
            <td class="text-muted">04/05/2019</td>
            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-muted sr-only">Action</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Remove</a>
                <a class="dropdown-item" href="#">Assign</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2747">
                <label class="custom-control-label" for="2747"></label>
              </div>
            </td>
            <td>
              <div class="avatar avatar-md">
                <img src="./assets/avatars/face-2.jpg" alt="..." class="avatar-img rounded-circle">
              </div>
            </td>
            <td>
              <p class="mb-0 text-muted"><strong>Hester, Nissim L.</strong></p>
              <small class="mb-0 text-muted">2747</small>
            </td>
            <td>
              <p class="mb-0 text-muted">Tristique Ltd</p>
              <small class="mb-0 text-muted">4577 Cras St.</small>
            </td>
            <td>
              <p class="mb-0 text-muted"><a href="#" class="text-muted">(977) 220-6518</a></p>
              <small class="mb-0 text-muted">Central African Republic</small>
            </td>
            <td class="w-25"><small class="text-muted"> Non tellus orci ac auctor augue. Elit at imperdiet dui accumsan sit.</small></td>
            <td class="text-muted">21/08/2019</td>
            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-muted sr-only">Action</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Remove</a>
                <a class="dropdown-item" href="#">Assign</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="2639">
                <label class="custom-control-label" for="2639"></label>
              </div>
            </td>
            <td>
              <div class="avatar avatar-md">
                <img src="./assets/avatars/face-4.jpg" alt="..." class="avatar-img rounded-circle">
              </div>
            </td>
            <td>
              <p class="mb-0 text-muted"><strong>Gardner, Leigh S.</strong></p>
              <small class="mb-0 text-muted">2639</small>
            </td>
            <td>
              <p class="mb-0 text-muted">Orci Luctus Et Inc.</p>
              <small class="mb-0 text-muted">P.O. Box 228, 7512 Lectus Ave</small>
            </td>
            <td>
              <p class="mb-0 text-muted"><a href="#" class="text-muted">(537) 315-1481</a></p>
              <small class="mb-0 text-muted">United Kingdom</small>
            </td>
            <td class="w-25"><small class="text-muted"> Nunc pulvinar sapien et ligula ullamcorper malesuada proin. Neque convallis a cras semper auctor</small></td>
            <td class="text-muted">04/08/2019</td>
            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="text-muted sr-only">Action</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Remove</a>
                <a class="dropdown-item" href="#">Assign</a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Table Paging" class="mb-0 text-muted">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>