@{
    Layout = "_LayoutAdmin";
}

<div class="row align-items-center my-4">
  <div class="col">
    <h2 class="h3 mb-0 page-title">Contacts</h2>
  </div>
  <div class="col-auto">
    <button type="button" class="btn btn-secondary"><span class="fe fe-trash fe-12 mr-2"></span>Delete</button>
    <button type="button" class="btn btn-primary"><span class="fe fe-filter fe-12 mr-2"></span>Create</button>
  </div>
</div>

