@{
    Layout = "_LayoutAdmin";
}

<div class="row align-items-center mb-4">
    <div class="col">
        <h2 class="h5 page-title"><small class="text-muted text-uppercase">Invoice</small><br />#1806</h2>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-secondary">Print</button>
        <button type="button" class="btn btn-primary">Pay</button>
    </div>
</div>